/* Navigation */
/* Auto layout */

#Navbar{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 50px 50px;
gap: 656px;
position: absolute;
width: 100%;
height: 110.59px;
left: 0px;
top: 0px;

/* PrimaryColor */
background: #19263A;

}